.header {
  background: linear-gradient(-16deg, rgb(237, 22, 159), rgb(20, 44, 90));
  background: -webkit-linear-gradient(-16deg, rgb(237, 22, 159), rgb(20, 44, 90));
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
